<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Basic House Selling</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="root">
    <div class="fixed-action-btn">
      <a href="#add" class="modal-trigger btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Sell House!">
        <i class="large material-icons">mode_edit</i>
      </a>
    </div>
    <br>
    <h4 class="center">Jualan Rumah</h4>
    <div class="container">
      <div class="row">
        <div v-for="item in houses" class="card horizontal">
          <div class="card-image">
            <img :src="item.photo">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h4>{{ item.title }}</h4>
              <h5>{{ item.price }}</h5>
              <p>{{ item.address }}</p>
              <p>{{ item.description }}</p>
              <p>{{ item.latitude }}</p>
              <p>{{ item.longitude }}</p>
            </div>
            <div class="card-action">
              <a class="modal-trigger waves-effect waves-light btn" href="#edit" @click="getHouse(item._id)">Edit</a>
              <a class="modal-trigger waves-effect waves-light btn red" href="#confirmation" @click="deleteHouse(item._id)">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <div id="add" class="modal modal-fixed-footer">
        <div class="modal-content">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" v-model="add.title">
                <label for="title">title</label>
              </div>
              <div class="input-field col s12">
                <input type="number" v-model="add.price">
                <label for="price">price</label>
              </div>
              <div class="input-field col s12">
                <input type="text" v-model="add.address">
                <label for="address">address</label>
              </div>
              <div class="input-field col s12">
                <input type="text" v-model="add.description">
                <label for="description">description</label>
              </div>
              <div class="input-field col s12">
                <input type="text" v-model="add.photo">
                <label for="photo">photo</label>
              </div>
              <div class="input-field col s6">
                <input type="number" v-model="add.latitude">
                <label for="latitude">latitude</label>
              </div>
              <div class="input-field col s6">
                <input type="number" v-model="add.longitude">
                <label for="longitude">longitude</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" @click="addHouse()" class="modal-action modal-close waves-effect waves-green btn">Submit</a>
          <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
      <div id="edit" class="modal modal-fixed-footer">
        <div class="modal-content">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" v-model="edit.title">
                <label for="title">title</label>
              </div>
              <div class="input-field col s12">
                <input type="number" v-model="edit.price">
                <label for="price">price</label>
              </div>
              <div class="input-field col s12">
                <input type="text" v-model="edit.address">
                <label for="address">address</label>
              </div>
              <div class="input-field col s12">
                <input type="text" v-model="edit.description">
                <label for="description">description</label>
              </div>
              <div class="input-field col s12">
                <input type="text" v-model="edit.photo">
                <label for="photo">photo</label>
              </div>
              <div class="input-field col s6">
                <input type="number" v-model="edit.latitude">
                <label for="latitude">latitude</label>
              </div>
              <div class="input-field col s6">
                <input type="number" v-model="edit.longitude">
                <label for="longitude">longitude</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" @click="editHouse()" class="modal-action modal-close waves-effect waves-green btn">Submit</a>
          <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
      <div id="delete" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h2>Are you sure to delete this house?</h2>
        </div>
        <div class="modal-footer">
          <a href="#" @click="deleteHouse(edit._id)" class="modal-action modal-close waves-effect waves-green btn red">Delete</a>
          <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
     $('.modal').modal();
   });
    let app = new Vue({
      el: '#root',
      data: {
        add: {
          title: '',
          price: '',
          address: '',
          description: '',
          photo: '',
          latitude: '',
          longitude: ''
        },
        get: {
          _id: '',
          title: '',
          price: '',
          address: '',
          description: '',
          photo: '',
          latitude: '',
          longitude: ''
        },
        houses: ''
      },
      methods: {
        addHouse: function() {
          $.ajax({
            url: 'http://localhost:3000/api/houses',
            type: 'POST',
            data: {
              title: app.add.title,
              price: app.add.price,
              address: app.add.address,
              description: app.add.description,
              photo: app.add.photo,
              latitude: app.add.latitude,
              longitude: app.add.longitude
            },
            success: function(data) {
              app.add.houses.unshift(data)
              app.add.title = ''
              app.add.price = ''
              app.add.address = ''
              app.add.description = ''
              app.add.photo = ''
              app.add.latitude = ''
              app.add.longitude = ''
            }
          })
        },
        loadHouses: function(){
          $.ajax({
            url: 'http://localhost:3000/api/houses',
            type: 'GET',
            success: function(data) {
              app.houses = data
            }
          })
        },
        getHouse: function(id) {
          $.ajax({
            url: `http://localhost:3000/api/houses/${id}`,
            type: 'GET',
            success: function(data) {
              app.get._id = data._id
              app.get.title = data.title
              app.get.price = data.price
              app.get.address = data.address
              app.get.description = data.description
              app.get.photo = data.photo
              app.get.latitude = data.latitude
              app.get.longitude = data.longitude
            }
          })
        },
        editHouse: function(){
          console.log(app.edit._id);
          $.ajax({
            url: `http://localhost:3000/api/houses/${app.edit._id}`,
            type: 'PUT',
            data: {
              title: app.edit.title,
              price: app.edit.price,
              address: app.edit.address,
              description: app.edit.description,
              photo: app.edit.photo,
              latitude: app.edit.latitude,
              longitude: app.edit.longitude,
              sold: false
            },
            success: function(data) {
              app.loadHouses()
            }
          })
        },
        deleteHouse: function(id) {
          $.ajax({
            url: `http://localhost:3000/api/houses/${id}`,
            type: 'DELETE',
            success: function(data) {
              app.loadHouses()
            }
          })
        }
      }
    })
    app.loadHouses();
  </script>
  </body>
</html>
